.header {
  background-color: #F8E1BF;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  height: 120px;
  padding: 0 32px; /* 32px de distância das bordas horizontais */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 112px;
  height: auto;
}

.login-button {
  width: 92px;
  height: auto;
  cursor: pointer;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
