@font-face {
  font-family: 'SN Pro';
  src: url('./assets/fonts/SNPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'SN Pro';
  src: url('./assets/fonts/SNPro-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gluten';
  src: url('./assets/fonts/Gluten-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gluten';
  src: url('./assets/fonts/Gluten-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* adicionei a fonte Gluten do projeto */

:root {
  --text: #6b6375;
  --text-h: #532D2D;
  --bg: #fff;
  --border: #e5e4e7;
  --brand-pink: #F8A6B4; /* adicionei essa variável da cor rosa usada para poder ser referenciada em outros css como var(brand-pínk) */
  --sans: 'SN Pro', system-ui, sans-serif;
  
  font: 18px/145% var(--sans);
}

body {
  margin: 0;
  font-family: 'SN Pro', sans-serif;
  color: #532D2D;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
