@font-face {
  font-family: 'SN Pro';
  src: url('./assets/fonts/SNPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'SN Pro';
  src: url('./assets/fonts/SNPro-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --sans: 'SN Pro', system-ui, sans-serif; /* Agora SN Pro é a padrão */
  
  font: 18px/145% var(--sans);
}

body {
  margin: 0;
  font-family: 'SN Pro', sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
