.sandbox-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.sandbox-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%; /* Permite ocupar a largura toda */
  padding: 0 32px; /* 32px de distância das bordas horizontais da tela */
  box-sizing: border-box;
}

.sandbox-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .sandbox-layout {
    flex-direction: column;
    padding: 0 16px; /* Padding menor em telas pequenas */
  }
}

/*pros cards*/
/*pra ir pro lado e não pra baixo */
.sandbox-content {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
}

/*pra ficarem em colunas certinho*/
.pets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 25px 110px;
  width: 100%;
}
